@using BlazingPizza.Data
@inject PizzaService0 PizzaSvc

@page "/pizzas0"

<div class="main">
<h1>Choose your pizza</h1>

@if (todaysPizzas == null)
{
    <p>We're finding out what pizzas are available today...</p>
}
else
{
    <p>We have all these delicious recipes:</p>
    <table>
        <thead>
            <tr>
                <th>Pizza Name</th>
                <th>Description</th>
                <th>Vegetarian?</th>
                <th>Vegan?</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in todaysPizzas)
            {
                <tr>
                    <td>@pizza.Name</td>
                    <td>@pizza.Description</td>
                    <td>@pizza.Vegetarian</td>
                    <td>@pizza.Vegan</td>
                    <td>@pizza.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>
    @code {
        private Pizza0[] todaysPizzas;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                todaysPizzas = await PizzaSvc.GetPizzasAsync();
            }
            catch
            {
                todaysPizzas = null;
            }
        }
    }
